@charset "utf-8";

html {
    height:100%;
}
body {
    height:100%;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button {
    margin:0; padding:0; font-weight:normal;
}
body, input, select, div, textarea, table, button {
    font-size: 16px;
	font-family: "malgun Gothic", "맑은고딕", Apple SD Gothic Neo, verdana, gulim, "굴림", dotum, "돋움", sans-serif;
	font-weight: normal;
	line-height: 1.5;
	word-break: break-word;
}
table {
    width:100%; 
    border:0; 
    border-spacing:0px; 
    border-collapse:collapse;
}
option {
    vertical-align:middle; 
    padding:3px 0;
}
legend {
    display:none; 
    visibility:hidden;
}
img, fieldset, button {
    vertical-align:middle; 
    border:0;
}
ul, ol {
    list-style:none;
}
em, address {
    font-style:normal;
}
hr {
    display:none; visibility:hidden;
}
button {
    cursor:pointer;
}
caption  {
    height: 0; 
    width: 0; 
    font-size: 0; 
    line-height: 0; 
    margin: 0; 
    padding: 0;
}
input, textarea, button {
    line-height: 1.5; 
    vertical-align: middle;
}
textarea {
    resize:none;
}
i {
    font-style:normal;
}
/*input*/

::-webkit-input-placeholder {
    text-align:left;
}
input:-moz-placeholder {
    text-align:left;
}
::-moz-placeholder {
    text-align:left;
}
:-ms-input-placeholder {
    text-align:left;
}

input[type=password] {
    font-family: "malgun Gothic", "맑은고딕", Apple SD Gothic Neo, verdana, gulim, "굴림", dotum, "돋움", sans-serif;
}
input[type=text], input[type=password] {
    background:#ffffff; 
    vertical-align:middle; 
    border:0 none;
}
textarea {
    background:#ffffff; 
    width:100%; 
    height:100px; 
    padding:4px 0 1px 0; 
    vertical-align:middle;
}
select {
    border:1px solid #cccccc; 
    height:24px; 
    padding:3px 3px 3px 4px; 
    vertical-align: middle; 
    line-height:24px;
}
input[type="file"] {
    vertical-align:middle;
}
input[type="checkbox"],
input[type="radio"] {
    margin:0; 
    padding:0; 
    vertical-align:middle; 
    width:13px; 
    height:13px; 
    line-height:13px; 
    border:0 none;
}
a {
    text-decoration:none; 
    color:#666666;
}
a:hover, a:active, a:focus{
    text-decoration:none;
}
.hide {
    position:absolute;
    top:-9999px;
    display:block; 
    height: 0; 
    width: 0; 
    font-size: 0; 
    line-height: 0; 
    margin: 0; 
    padding: 0; 
    overflow:hidden; 
    opacity:0;
}
.letter {
    letter-spacing:-1px;
}
.clear {
	content: '';
	display: block;
	clear: both;
}
.hidden {
	position: absolute;
	font: 0/0 a;
	visibility: hidden;
}
.clfix:after {
    content:'.'; 
    display:block; 
    height:0px; 
    clear:both; 
    visibility:hidden;
}
.clfix {
    display:block;
}
strong {
    font-weight:normal;
}

/* 언더라인 */
.uline {
    text-decoration:underline !important;
}

/* 말줄임 한줄 처리 */
.txt_dotdot {
    width:100%; 
    text-overflow:ellipsis;  
    white-space:nowrap; 
    overflow:hidden;
}


/* ALIGN */
.alC {
    text-align:center !important;
}
.alL {
    text-align:left !important;
}
.alR {
    text-align:right !important;
}
.alJ {
    text-align:justify !important;
}

.txt-bold {
	font-family: "ManropeB", "NotoB", serif;
	font-weight: normal;
}

.txt-hide {
	font: 0/0 a;
}

.none {
	display: none !important;
}

.inline-block {
	display: inline-block;
}


/* 컨텐츠 */
#wrap{
    position: relative;
    min-width: 1270px;
    margin: 0 auto;
    background: #f2f4f7;
}
.main_wrap{
    width: 1260px;
    margin: 60px auto 0;
}
.main_wrap *{
    box-sizing: border-box;
}
.top_box{
    border-bottom:1px solid #eee;
    padding:30px;
}
.top_box .tit{
    font-size: 22px;
    color: #000;
}